header{
 background-image: url("library.jpg");
}

header h1{
 margin-left: 30vw;
 color: lightgrey;
 font-weight: bold;
 text-shadow: 2px 2px yellow;
 font-size: 4em;
}

header nav{
 display: inline;
}

nav form{
 display: inline;
}

nav button{
 font-weight: bold;
 color: lightgrey;
 font-size: 2em;
 background-color: transparent;
 border: none;
 margin-left: 2em;
 text-shadow: 2px 2px black;
}

#showMedia{
 display: flex;
 //flex-direction: row;
 flex-flow: row wrap;
}

#showMedia .medium{
margin-left: 0.5em;
border: solid black 2px;
border-radius: 9%;
padding: 1em;
margin-top: 1em;
}

.media{
 
 margin-left: 0.5em;
 border: solid black 2px;
 border-radius: 9%;
 margin: 1em;
 
}

.fat{
 color: black;
 font-weight: bold;
}

.popup{
 display: none;
 background-color: yellow;
 padding: 1em;
 border-radius: 9%;
 border: none;
}

.popup textarea{
 height: 6em;
 width: 21em;
 background-color: yellow;
 border: none;
}

#showMedia div:hover > .popup{
 display: block;
 position: absolute;
 z-index: 9999;
  
}

.advice{
 color: red;
}





